.pre-container {
    margin: 200px 0 0 200px;
    transform-style: preserve-3d;
    perspective: 500px;
    perspective-origin: 0 100%;
    position: absolute;
    top: 0;
}

.container {
    perspective: 800px;
    perspective-origin: 20% 100%;
    transform-style: preserve-3d;
    font-size: 0;
}

.edge {
    font-size: 50px;
    display: inline-block;
    width: 150px;
    height: 150px;
    backface-visibility: hidden;
    box-sizing: border-box;
    border: solid 2px black;
}

.one {
    background-color: #2b908f;
}

.two {
    background-color: #770088;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
}

.three {
    background-color: #0055aa;
    transform: translateX(-450px) rotateY(-90deg);
    transform-origin: 100% 50%;
}

.four {
    background-color: #00B7FF;
    transform: translateX(-450px) rotateY(180deg) translateZ(150px);
    transform-origin: 50% 50%;
}

.five {
    background-color: #004444;
    transform: translateX(-600px) translateZ(-150px) rotateX(-90deg);
    transform-origin: 50% 100%;
}

.six {
    background-color: #77ee77;
    transform: translateX(-750px) translateZ(-150px) rotateX(90deg);
    transform-origin: 50% 0;
}

.ranges {
    position: absolute;
    bottom: 15px;
    left: 50%;
}