html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    border: 5px solid rgb(62, 148, 144);
    border-radius: 5px;
    background-color: rgb(148, 75, 112);
    font-size: 80%;
    padding: 10px;
}

.content {
    padding: 0 10px;
    margin: 10px 10px;
    border: 5px solid rgb(62, 148, 144);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.content:last-child{
    align-self: center;
}

.image {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.description {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-top: 3px solid rgb(62, 148, 144);
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}

.text:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.motherboard-image {
    background-image: url(image/motherboard.jpg);
}

.hard-image {
    background-image: url(image/hard.jpg);
}

.ssd-image {
    background-image: url(image/ssd.jpg);
}

.cooler-image {
    background-image: url(image/cooler.jpg);
}

.video-image {
    background-image: url(image/video.jpg);
}

.energy-image {
    background-image: url(image/energy.jpg);
}

.memory-image {
    background-image: url(image/memory.jpg);
}