body {
    margin: 0;
    color: white;
}

table {
    margin-top: 48px;
    border-collapse: collapse;
    display: block;
}

td {
    border: solid 5px black;
    width: 150px;
    min-width: 100px;
}

tr:hover {
    background-color: #2b908f;
}

thead {
    background-color: #770088;
    position: sticky;
    top: 0;
    border-bottom: none;
}

thead,tbody,tfoot{
    display: table;
}

tbody tr:first-child td{
    border-top: none;
}

.content-row {
    background-color: #004444;
}

.content {
    width: 80%;
    height: 200px;
    background-color: #2b908f;
}