.input {
    width: 400px;
    height: 30px;
}

.submit {
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.submit-form {
    width: 530px;
    height: 50px;
    margin: 0 auto;
}

.cons {
    width: 530px;
    margin: 0 auto;
    height: 500px;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
}