html{
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Product Sans", "Open Sans", Roboto, Arial, Helvetica, sans-serif;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.menu-bar ~ .overlay {
    visibility: visible;
    pointer-events: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    height: 3rem;
}

.main {
    line-height: 3rem;
    padding: 0 0.3rem;
    min-width: 200px;
}

.main-title {
}

.menu {
    display: none;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
}

.menu-bar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #F1F1F1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

.menu-item {
    display: block;
    background-color: #CCCCCC;
    box-shadow: inset 0 0 20px white;
    line-height: 3rem;
    padding: 0 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}

.menu-bar .menu-item {
    width: 200px;
    height: 3rem;
    margin: 0.3rem 0;
    background-color: inherit;
    box-shadow: none;
    max-width: 200px;
}

.menu-item-title {
    display: none;
}

.icon {
    vertical-align: middle;
}

.menu-item-icon {
    display: none;
}

.main-icon {
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: url(icons/menu.svg) transparent no-repeat center;
    border: 0;
    z-index: 3;
}

.menu-button:focus {
    outline: none;
}

@media (max-width: 419px) {
    .menu-item-icon {
        display: inline;
    }

    .menu-item-title {
        display: inline;
    }

}

@media (min-width: 420px) {
    .menu-item-icon {
        display: inline;
    }

    .menu {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    .main-icon {
        display: none;
    }

    .main {
        min-width: 170px;
    }
}

@media (min-width: 470px) {
    .main {
        min-width: 200px;
    }

    .main-icon {
        display: inline;
    }
}

@media (min-width: 720px) {
    .menu-item-title {
        display: inline;
    }
}