html {
    font-size: 16px;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Raleway', "Product Sans", "Open Sans", Roboto, Arial, Helvetica, sans-serif;
}

.navigation__overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.sidebar_yes .navigation__overlay {
    visibility: visible;
    pointer-events: auto;
}

.sidebar_yes .navigation__menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #F1F1F1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

.sidebar_yes .navigation__tab {
    width: 200px;
    height: 3rem;
    margin: 0.3rem 0;
    background-color: inherit;
    box-shadow: none;
    max-width: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    height: 3rem;
}

.navigation__main {
    line-height: 3rem;
    padding: 0 0.3rem;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation__menu {
    display: none;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
}

.navigation__tab {
    display: block;
    background-color: #CCCCCC;
    box-shadow: inset 0 0 20px white;
    line-height: 3rem;
    padding: 0 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}

.navigation__tab-title {
    display: none;
}

.navigation__icon {
    vertical-align: middle;
}

.navigation__tab-icon {
    display: none;
}

.navigation__menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: url(icons/menu.svg) transparent no-repeat center;
    border: 0;
    z-index: 3;
}

.navigation__menu-button:focus {
    outline: none;
}

@media (max-width: 419px) {
    .navigation__tab-icon {
        display: inline;
    }

    .navigation__tab-title {
        display: inline;
    }

}

@media (min-width: 420px) {
    .navigation__tab-icon {
        display: inline;
    }

    .navigation__menu {
        display: flex;
    }

    .navigation__menu-button {
        display: none;
    }

    .navigation__main-icon {
        display: none;
    }

    .navigation__main {
        min-width: 170px;
    }
}

@media (min-width: 470px) {
    .navigation__main {
        min-width: 200px;
    }

    .navigation__main-icon {
        display: inline;
    }

    html {
        font-size: 18px;
    }
}

@media (min-width: 720px) {
    .navigation__tab-title {
        display: inline;
    }

    html {
        font-size: 20px;
    }
}

.text {
    font-size: 1rem;
    line-height: 1.5rem;
}