body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.table {
    background-color: white;
    width: 512px;
    height: 512px;
    margin: 100px auto;
    padding: 0;
    border: 3px solid black;
}

.line-a > .cell:nth-child(2n) {
    background-color: black;
}

.line-b > .cell:nth-child(2n+1) {
    background-color: black;
}

.cell {
    float: left;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell:hover {
    border: 3px solid yellowgreen;
}

.cell:focus {
    background-color: aqua;
}

.cell:nth-child(2n):focus {
    background-color: aqua;
}

.cell:nth-child(2n+1):focus {
    background-color: aqua;
}