.input-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.inputs {
    height: 50px;
    width: 40%;

}

.button {
    display: block;
    margin: auto;
    width: 30%;
    font: 20pt sans-serif;
}

.area {
    display: block;
    margin: 20px auto;
    width: 50%;
    font: 20pt sans-serif;
}

p{
    font: 20pt sans-serif;
    text-align: center;
}